<!--{template common/header}-->
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link rel="stylesheet" type="text/css" id="win8mi_diy" href="template/win8mi_1st_huxiu/src/img/portaldiy.css?{VERHASH}" />

<script src="template/win8mi_1st_huxiu/src/js/superslide.2.1.js" type="text/javascript"></script>

<style id="diy_style" type="text/css"></style>
<!--[diy=diytop]--><div id="diytop" class="area"></div><!--[/diy]-->
<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
	<div class="firstdown">
	    <div class="firstdownl">
		   <!--[diy=firstdownl]--><div id="firstdownl" class="area"></div><!--[/diy]-->
		</div>
		<div class="firstdownr">
		   <!--[diy=firstdownr]--><div id="firstdownr" class="area"></div><!--[/diy]-->
		</div> 
	</div>
	<!--[diy=bottomdiy]--><div id="bottomdiy" class="area"></div><!--[/diy]-->	
</div>
<script src="misc.php?mod=diyhelp&action=get&type=index&diy=yes&r={echo random(4)}" type="text/javascript"></script>
<!--{template common/footer}-->