/*
[name]绿色[/name]
[iconbgcolor]#239923[/iconbgcolor]
Powered by Discuz! X
*/

/*
{#YANSE1}=#@239923
{#YANSE2}=#@1d851d
{#YANSE3}=#@2cc62c
{#YANSE4}=#@2abb2a
{#YANSE5}=#@28b028
*/

/*其他*/
.topLine h2 a:hover{color:#239923 !important;}
.news h2 a:hover {color:#239923 !important;}

/*全局*/
a:hover{ text-decoration:none; color:#239923}

/*导航样式*/
#nv { overflow: hidden;  height: 45px; background:#239923; }
#nv li.a { margin-left: -1px; background:#1d851d; }
#nv li a:hover { background:#1d851d; }
#nv li.hover a:hover, #nv li.hover a { background:#1d851d; }

/*搜索样式*/
.tt_search #scbar {height: 26px;border:0; border-radius:4px;background:#1d851d;}
.tt_userinfo .tt_author:hover > a{background:#F2F2F2;border:3px solid #239923; border-bottom:none;}
.tt_userinfo .son{position:absolute; background:#fff;left:1px;top:43px; display:none; z-index:10; border:3px solid #239923;border-top:none; }
#qmenu.qmenu_tt.a {border-color:#239923;background:#1d851d url(qmenu.png) center no-repeat;}
#qmenu_menu.qmenu_menu_tt {position: relative;width: 180px;margin-top: 14px;padding: 20px 10px 10px;border: 1px solid #1d851d;border-radius: 5px;background: #fff;box-shadow: none;}
#qmenu_menu.qmenu_menu_tt:before {content: "";position: absolute;right: 9px;top: -5px;height: 0;width: 0;border-color: transparent transparent #1d851d transparent;border-style: dashed dashed solid dashed;border-width: 0 5px 5px;}
.fl_g dt a,.fl_tb h2 a{ font-size:16px; color:#1d851d}

/*底部增加的链接*/
.tt_footer a:hover{text-decoration: none;color:#239923 !important}
a.post_btn { display:inline-block; height:40px; width:250px; text-align:center; background:#239923 url(post_big.png) center center no-repeat;}
a.post_btn:hover{background:#1d851d url(post_big.png) center center no-repeat;}

/*板块排行*/
.tt_bm_hot .tab li.now {height: 37px;line-height: 32px;border-top: 4px solid #239923;background: white;font-weight:700;}
.tt_bm_hot #test2_1 li a:hover{ color:#239923}
.tt_bm_hot #test2_1 li .tab_1,.tt_bm_hot #test2_1 li .tab_2,.tt_bm_hot #test2_1 li .tab_3{ background:#239923}
.tt_bm_hot #test2_2 li a:hover{ color:#239923}
.tt_bm_hot #test2_2 li .tab_1,.tt_bm_hot #test2_2 li .tab_2,.tt_bm_hot #test2_2 li .tab_3{ background:#239923}

.tt_jctj .slidebar ul li.on{ background:#239923}
.tt_rmph .bm_c li .li_1,.tt_rmph .bm_c li .li_2,.tt_rmph .bm_c li .li_3{ color:#239923; border: 2px solid #239923;}
.tt_rmph .bm_c li a.em_1,.tt_rmph .bm_c li a.em_2,.tt_rmph .bm_c li a.em_3{ color:#239923}
.tt_rmph .bm_c li a:hover{ color:#239923}

.tt_mxyh em a:hover {color:#239923;}

/*主题列表右侧*/
.bm .bm_h_forum{ padding:0 10px;height: 40px;line-height: 40px;border-width: medium medium 1px;border-style: none none solid;border-color: -moz-use-text-color -moz-use-text-color #EFEFEF;-moz-border-top-colors: none;-moz-border-right-colors: none;-moz-border-bottom-colors: none;-moz-border-left-colors: none;border-image: none;border-radius: 5px 5px 0px 0px;background: -moz-linear-gradient(center top , #2abb2a, #f2c7cb) repeat scroll 0% 0% transparent;font-weight: bold;}
.bm .bm_h_forum h2{ color:#239923}

/*二级下拉导航*/
#hd .p_pop {min-width: 150px;padding: 0;border: none;border-radius: 0 0 5px 5px;background:#2cc62c;box-shadow: none;overflow: hidden;}
#hd .p_pop a {display: block;height: 40px;line-height: 40px;font-size: 14px;padding: 0 10px;border-bottom: 1px solid #28b028;color:#239923;}
#hd .p_pop li:last-child a {border-bottom: none;}
#hd .p_pop a:hover {color: #1d851d !important;background:#2abb2a;}
.tt_home_left #uhd .mt{ font-size:14px; color:#239923;}
.tt_home_left #uhd .tb li.a a{ border:none; font-size:14px; color:#239923;margin-right:-1px;}
.tt_regedit .bm .bm_h h3{ font-size:16px !important; color:#239923}

/*群组*/
a.tt_create_group1{ color:#fff; display:inline-block; width:230px; font-weight:700; font-size:14px; height:40px; line-height:40px; text-align:center; background:#239923}
a.tt_create_group1:hover{ display:inline-block; background:#1d851d}
a.tt_create_group2{ color:#fff; display:inline-block; width:230px; font-weight:700; font-size:14px; height:40px; line-height:40px; text-align:center; background:#239923}
a.tt_create_group2:hover{ display:inline-block; background:#1d851d}
.tt_group_focus a:hover{ color:#239923 !important;font-weight:700;}
.tt_forumlink a {display: block;height: 45px;line-height: 45px;margin: 0 -20px;background:#239923;color: #fff;font-size: 20px;font-weight: bold;text-align: center;}
.tt_forumlink a:hover {background:#1d851d; color:#fff !important;}
.tt_forumlink a:active {background:#239923;box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);}
.midaben_con .midaben_signpanel {background-color: #239923;height: 60px;display: block;position: relative;border-radius: 5px;background-image: url(tou.png);background-repeat: no-repeat;background-position: 23px 12px;cursor: pointer;}
.midaben_con .default {cursor: default;background-color: #239923;}

a.tt_qiandao{ width:230px; height:40px; text-align:center; line-height:40px; color:#fff; font-size:14px; font-weight:700; display:inline-block; background:#1d851d}
a.tt_qiandao:hover{background:#239923}

/*颜色处理*/
.editorChoice .topRank em {border: 2px solid #239923;color:#239923;}

/*COMMON.CSS*/
.pnc, a.pnc { color:#fff !important; vertical-align: middle; overflow: hidden; margin-right: 3px; padding:2px 0; cursor: pointer;border: none;border-radius: 4px;background: #239923;background: -webkit-linear-gradient(top, #239923, #1d851d);background: -moz-linear-gradient(top, #239923, #1d851d);background: -ms-linear-gradient(top, #239923, #1d851d);background: -o-linear-gradient(top, #239923, #1d851d);background: linear-gradient(top, #239923, #1d851d);}
.alert_right, .alert_error, .alert_info { text-align:center; min-height: 40px; height: auto !important; height: 40px; line-height:40px;font-size: 14px; font-weight:400; color:#239923 }
#editorbox .tb .a a, .tb .current a {border: 1px solid #239923;  color:#239923; background: {WRAPBG};}


/*MODULE.CSS*/
#vfastpost{background:#239923;padding:3px;position:relative;}
#vfastpost:hover{background:#1d851d}
#vfastpost #vf_b button{width:50px; font-size:14px;display:block;height:30px;line-height:30px;overflow:hidden;background:#1d851d; margin: 0; padding: 0; border: none;}


/*EXTEND_MODULE.CSS*/
#autopbn:hover i {border-color: #1d851d transparent transparent;}
.pl .card_inner .c_action a.z {background: #239923;background: -webkit-linear-gradient(top, #239923, #1d851d);background: -moz-linear-gradient(top, #239923, #1d851d);background: -ms-linear-gradient(top, #239923, #1d851d);background: -o-linear-gradient(top, #239923, #1d851d);background: linear-gradient(top, #239923, #1d851d);color: #fff;}
.pti .author a {color: #1d851d;}
.recommendItemTop dd a {color: #1d851d;}
.recommendItemBottom dd a.btn {margin-top: 0;width: 120px;height: 28px;line-height: 28px;border-radius: 3px;background: #1d851d;color: #fff;text-align: center;}
.pg strong {background: #239923;color: #fff;}
#f_pst .pn {border: none;border-radius: 4px;background: #239923;background: -webkit-linear-gradient(top, #239923, #1d851d);background: -moz-linear-gradient(top, #239923, #1d851d);background: -ms-linear-gradient(top, #239923, #1d851d);background: -o-linear-gradient(top, #239923, #1d851d);background: linear-gradient(top, #239923, #1d851d);}
.ttp a:hover { border-color: {HIGHLIGHTLINK}; color: #239923; text-decoration: none; }

